# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Predator\Desktop\Learning Resources\TA OOP\Lab\.idea/dataSources/
/dataSources.local.xml
